<h2>iOS における NekoBlocker の利用方法</h2>
<div class="container">
  <div class="row">
    <div class="card col-lg-5 mb-4 mx-1">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="/assets/img/usage/0.png">
            <img src="/assets/img/usage/0.png" class="img-fluid rounded-start">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">1. Tap Settings</h5>
            <p class="card-text">設定を選ぶ</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-lg-5 mb-4 mx-1">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="/assets/img/usage/1.png">
            <img src="/assets/img/usage/1.png" class="img-fluid rounded-start">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">2. Tap Safari</h5>
            <p class="card-text">Safari を選ぶ</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-lg-5 mb-4 mx-1">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="/assets/img/usage/2.png">
            <img src="/assets/img/usage/2.png" class="img-fluid rounded-start">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">3. Tap Extensions</h5>
            <p class="card-text">拡張機能を選択</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-lg-5 mb-4 mx-1">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="/assets/img/usage/3.png">
            <img src="/assets/img/usage/3.png" class="img-fluid rounded-start">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">4. Tap NekoBlocker</h5>
            <p class="card-text">NekoBlocker を選択</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-lg-5 mb-4 mx-1">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="/assets/img/usage/4.png">
            <img src="/assets/img/usage/4.png" class="img-fluid rounded-start">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">5. Allow NekoBlocker</h5>
            <p class="card-text">NekoBlocker を許可する</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-lg-5 mb-4 mx-1">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="/assets/img/usage/5.png">
            <img src="/assets/img/usage/5.png" class="img-fluid rounded-start">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">6. Finish</h5>
            <p class="card-text">完了です！</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
