<h2>ライセンス関連</h2>
<div class="container">
  <div class="row">
    <div class="card col-md-5 mx-1">
      <div class="card-body">
        <h4 class="card-title">
          NekoBlocker のルール
        </h4>
        <h5 class="card-text">
          <i class="fab fa-github"></i>
          <a href="https://github.com/nekoblocker/BlockerRules">
            GitHub Repository
          </a>
        </h5>
        <p class="cart-text">
          <small><i class="fab fa-creative-commons"></i> <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a> で公開しています</small>
        </p>
      </div>
    </div>
    <div class="card col-md-5 mx-1">
      <div class="card-body">
        <h4 class="card-title">
          改変元のルール
        </h4>
        <h5 class="card-text">
          <i class="fas fa-file"></i>
          <a href="https://easylist.to/pages/about.html">
            EasyList
          </a>
        </h5>
        <h5 class="card-text">
          <i class="fab fa-github"></i>
          <a href="https://github.com/Yuki2718/adblock">
            Yuki2718/adblock
          </a>
        </h5>
        <h5 class="card-text">
          <i class="fab fa-github"></i>
          <a href="https://github.com/Yuki2718/adblock2">
            Yuki2718/adblock2
          </a>
        </h5>
      </div>
    </div>
  </div>
</div>

