<h2>NekoBlocker のフィルタリストの更新方法</h2>
<div class="container">
  <div class="row">
    <div class="card col-lg-5 mb-4 mx-1">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="/assets/img/usage/update-app.png">
            <img src="/assets/img/usage/update-app.png" class="img-fluid rounded-start">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">0. NekoBlocker を起動する</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-lg-5 mb-4 mx-1">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="/assets/img/usage/update-download.png">
            <img src="/assets/img/usage/update-download.png" class="img-fluid rounded-start">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">1. 新しいルールをダウンロードする</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-lg-5 mb-4 mx-1">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="/assets/img/usage/update-download-complete.png">
            <img src="/assets/img/usage/update-download-complete.png" class="img-fluid rounded-start">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">2. ダウンロード完了を待つ</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-lg-5 mb-4 mx-1">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="/assets/img/usage/update-update.png">
            <img src="/assets/img/usage/update-update.png" class="img-fluid rounded-start">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">3. 新しいルールを適用する</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-lg-5 mb-4 mx-1">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="/assets/img/usage/update-update-complete.png">
            <img src="/assets/img/usage/update-update-complete.png" class="img-fluid rounded-start">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">4. ルールの適用完了を待つ</h5>
            <p class="card-text">（時間がかかります）</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-lg-5 mb-4 mx-1">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="/assets/img/usage/update-complete.png">
            <img src="/assets/img/usage/update-complete.png" class="img-fluid rounded-start">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">5. Finish</h5>
            <p class="card-text">完了です！</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
